LLM_PROVIDER="google"
#"google"

GEMINI_API_KEY=""
GOOGLE_API_KEY=""

OPENAI_API_KEY="sk-proj"
OPENAI_MODEL="gpt-4o"

MAX_TOKENS="92000"

HF_API_TOKEN=""
HF_MODEL="meta-llama/Llama-3.1-8B-Instruct"
HF_BATCH_SIZE=5